*.orig
*.rej
*~
.svn
*.elc
.git
.emacs-semanticdb/
.recentf
elpa/archive-contents
elpa/builtin-packages
elpa/idle-highlight-1.0/
elpa/inf-ruby-2.1/
elpa/magit-0.7/
elpa/ruby-compilation-0.7/
elpa/ruby-mode-1.1/
elpa/smart-tab-0.3/
site-lisp/cedet-1.0pre6/
site-lisp/ecb-2.40/

